/*全域樣式*/
* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    font-family:"Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    /*1.6 代表：1.6 倍字體高度
      假設字體是 16px，則行高是 16 × 1.6 = 25.6px*/
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
}

/*Header 樣式*/
header {
    text-align: center;
    margin-bottom: 40px;
}

header h1{
    font-size: 2.5rem;
    color:#1e90ff;
}

header p{
    font-size: 1.2rem;
    color: #555;
}

/*區塊標題*/
section h2{
    font-size:1.8rem;
    border-bottom: 2px solid #1e90ff; 
    /*為元素的「下邊框」加上線條
    元素 {
    border-bottom: 粗細 線型 顏色;
    }
    */
    margin-bottom: 10px;
    padding-bottom: 5px;
}

/*About Me 區塊*/
#about{
    margin-bottom:30px;
}

/*Skills 區塊*/
#skills ul{
    list-style: none;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
    padding-left: 20px;
}

#skills li{
    background-color: #e0f0ff;
    padding: 8px 16px;
    border-radius: 6px;
    font-weight: bold;
}

/*Project 區塊*/
#project{
    margin-top:20px;
}

.project-card:hover{
    background-color: #fff;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 15px;
    tranform: scale(1.05);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3 ease;
    /*
    給元素加上陰影，讓它看起來有浮起來的感覺
    0：水平偏移（陰影不左右移動）
    2px：垂直偏移（陰影向下移動 2 像素）
    6px：模糊半徑（陰影邊緣的模糊程度）
    gba(0,0,0,0.1)：陰影顏色（黑色，透明度 0.1，很淡）=> rgba(紅, 綠, 藍, 透明度)
    */
}

.project-details{
    display: none;
    transition: all 0.3s ease;
}

.project-card.active .project-details{
    display: block;
}

footer{
    margin-top: 40px;
    text-align: center;
    font-size: 0.9rem;
    color: #777;
}

footer a:hover {
    color: #007bff;
    text-decoration: none;
}

footer P:hover {
    color: #007bff;
    text-decoration: none;
}

#backToTop{
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 10px 15px;
    background-color: #1e90ff;
    color: white;
    border: none;
    border-radius: 50px;
    font-size: 16px;
    cursor: pointer;
    display: none; /*預設不顯示*/
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}

#backToTop:hover{
    background-color: #0d6efd;  /*定義 滑鼠移到某個元素上時 要套用的樣式。*/
}

@media(max-width:768px){
    body{
        padding: 15px;
    }

    header h1{
        font-size: 2rem;
    }

    #skills ul{
        flex-direction: column;
        gap:10px;
    }

    .project-card{
        padding:10px;
    }
}
.skills{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1rem;
}

.skill img{
    transition: transform 0.3s ease;
}

.skill img:hover {
    transform: scale(1.1);
}